{% extends "backendGeneral.html.twig" %}
	
{% block content %}
						
	<div id="mensaje" class="mensaje">{{error}}</div>
	<form class="formulario" action="checkearDemograficoAgregar.php" method="post">
		<h1>DATOS DEMOGRAFICOS</h1>
		<input type="hidden" id="id_paciente" name="id_paciente" value="{{paciente}}">
		<input type="hidden" id="id_demografico" name="id_demografico" value="{{demografico}}">

		<div>
			<label for="heladera">Heladera:</label>
			<select name="heladera">
				<option value="1">SI</option>
				<option value="0">NO</option>
			</select>
		</div>
		<div>
			<label for="electricidad">Electricidad:</label>
			<select name="electricidad">
				<option value="1">SI</option>
				<option value="0">NO</option>
			</select>
		</div>
		<div>
			<label for="mascota">Mascota:</label>
			<select name="mascota">
				<option value="1">SI</option>
				<option value="0">NO</option>
			</select>
		</div>
		<div>
			<label for="tipo_vivienda">Tipo de vivienda:</label>
			<select name="tipo_vivienda">
			
			{% for tipo_v in tipo_vivienda %}
			<option value="{{tipo_v}}">{{tipo_v}}</option>
			{% endfor %}

			</select>
		</div>
		<div>
			<label for="tipo_calefaccion">Tipo de calefaccion:</label>
			<select name="tipo_calefaccion">
			
			{% for tipo_c in tipo_calefaccion %}
			<option value="{{tipo_c}}">{{tipo_c}}</option>
			{% endfor %}

			</select>
		</div>
		<div>
			<label for="tipo_agua">Tipo de agua:</label>
			<select name="tipo_agua">
			
			{% for tipo_a in tipo_agua %}
			<option value="{{tipo_a}}">{{tipo_a}}</option>
			{% endfor %}

			</select>
		</div>

		<input type="submit" id="agregar" value="GUARDAR">
		<a class="cancelar" href="pacientes.php">CANCELAR</a>
	</form>

{% endblock %}